body {background: black; font-family:"CG Omega";}
h1 {font-weight: bold; font-style:italic; color:white}
h2 {font-weight: bold; font-style:italic; color:white}
h4 {font-weight: bold; font-style:italic; color:white}	
p {color:Gold}
ul {color:Gold; list-style-position: inside;}
a {color:Gold; font-style: italic;}
	
	img.displayed {
		display: block;
		margin-left: auto;
	margin-right: auto}
	


.resume1 {width: 900px;
	margin: 0 auto 0 auto;
	padding: 5px;
	border:1px solid gold;
	text-align: left;
}

.home {text-align: center;
		width:900px;
		margin: 0 auto 0 auto;
		padding: 5px;
		border: 1px solid gold;
		}